Package: com.christopher.everest
Name: Everest
Version: 1.0.0
Architecture: iphoneos-arm
Description: App icon animations
Maintainer: Christopher Anderson
Author: Christopher Anderson
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.17)
